version: '3.8'
services:
  wordpress:
    build: .
    ports:
      - "3001:3000"
    env_file: .env
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_DATABASE: local
    ports:
      - "3306:3306"
    volumes:
      - db_data3:/var/lib/mysql

volumes:
  db_data3: